mixin list
    ul     
        li wtf
        li wtf
        li wtf
        li wtf
        li come ON

//- Navbar mixins
mixin nav(name, id, style)
    - var style = (typeof style === 'undefined') ? "inverse" : style
    nav( role="navigation", class=["navbar", "navbar-" + style] )
        .navbar-header
            button.navbar-toggle.collapsed( type="button", data-toggle="collapse", data-target="#" + id, aria-expanded="false", aria-controls="navbar")
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href="#")= name
 
        .collapse.navbar-collapse( id=id )
            ul.nav.navbar-nav
                block
             
mixin nav_item(href, active)
    li(class=active): a( href=href )
        block
 
mixin nav_item_dropdown(href, active)
    li(class=["dropdown", active])
        a.dropdown-toggle( href=href, data-toggle="dropdown", role="button", aria-expanded="false" )= attributes.label
            span.caret
        ul.dropdown-menu( role="menu" )
            block
 
mixin nav_divider
    li.divider

mixin nav_header
    li.dropdown-header
        block
 
//- End navbar mixins

//- Breadcrumbs mixin

mixin breadcrumbs
    ol.breadcrumb
        block

mixin breadcrumb(href)
    if href
        li: a( href=href )
            block
    else
        li.active
            block

//- End breadcrumbs mixin

//- Button mixin
mixin button(style, href, size)
    - var style = (typeof style === 'undefined') ? "default" : style
    - var href = (typeof href === 'undefined') ? "#" : href
    case size
        when "large"
            - size = "btn-lg"
        when "small"
            - size = "btn-sm"
        when "mini"
            - size = "btn-xs"
 
    a( class=["btn", "btn-" + style, size], href=href )
        block

//- End button mixin

//- Thumbnail with title mixin

mixin header(title)
    .row
        .col-lg-12
            h1.page-header= title

    block

mixin thumb(href, title, src)
    .col-lg-3.col-md-4.col-xs-6.thumb
        a.thumbnail( href=href )
            img.img-responsive( src=src alt="" )
        h4.text-center= title